<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Page</title>
</head>
<body>
    <h1>Это страница с таблицей</h1>
    <table border="1">
        <caption>Таблица начислений</caption>
        <tr>
            <th>Транзакция</th>
            <th>Дата транзакции</th>
        </tr>
        {% for charge in charges %}
            {% if charge.value > 0 %}
                <tr>
                    <td>{{ charge.value }}</td>
                    <td>{{ charge.date }}</td>
                </tr>
            {% endif %}
        {% endfor %}
  </table>

        <table border="1">
        <caption>Таблица списаний</caption>
        <tr>
            <th>Транзакция</th>
            <th>Дата транзакции</th>
        </tr>
        {% for charge in charges %}
            {% if charge.value < 0 %}
                <tr>
                    <td>{{ charge.value }}</td>
                    <td>{{ charge.date }}</td>
                </tr>
            {% endif %}
        {% endfor %}
  </table>
 <h1>А это <a href="{% url 'finance:start_page' %}">ссылка</a> на стартовую страницу .</h1>
</body>
</html>